<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/focus.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/focus-responsive.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/font-awesome.css" rel="stylesheet">
    <!--<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">-->
    <link href="{{ ASSET_PATH }}/css/pages/homepage.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body><div id="wrapper" class="clearfix">

    <div id="header">
        <div class="container">
            <h1 id="title"><a class="brand" href="#">{{ site.title }}</a></h1>
        </div>
    </div>

    <div id="nav" class="clearfix">
      <div class="container">
        <ul id="main-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
        </ul>
      </div>
    </div>

    {% if page.url == '/index.html' %}
    {% include themes/focus/masthead %}
    
    <div class="container">
        <div style="text-align:center">
            <h1><span style="color:orange">柳丁</span>熱銷中，數量有限<br/><small>以大賣場的價格，享用有履歷的優質柳丁</small></h1>
        </div>
        <div class="row">
            <div class="grid-3">
                <img class="thumbnail" src="https://lh6.googleusercontent.com/-gd1p5Td-8Xo/UKtFU43zFuI/AAAAAAAALVs/5ImtHL2IILc/s576/orange1.jpg">
                <h2>雞蛋丁</h2>
                <p>雞蛋丁小巧精美，屬17、19級腰圍較小的柳丁，鮮甜皮薄、肉質細膩，口感上較為清甜。</p>
                <a href="buy.html" title="購物網址">立即購買 »</a>
            </div>
            <div class="grid-3">
                <img class="thumbnail" src="https://lh3.googleusercontent.com/-zn-EZO6_LDY/UKtFUd1efHI/AAAAAAAALVk/4_rYsZenakQ/s576/orange2.jpg">
                <h2>吉利丁</h2>
                <p>吉利丁大小合宜，屬21、23級上等品質的柳丁，香氣濃郁、甜度最足，口感上較為溫潤。</p>
                <a href="buy.html" title="購物網址">立即購買 »</a>
            </div>
            <div class="grid-3">
                <img class="thumbnail" src="https://lh6.googleusercontent.com/-cuYcOwDgiHM/UKtFVYJ1c8I/AAAAAAAALVw/-ZetXgwGDpA/s576/orange3.jpg">
                <h2>發財丁</h2>
                <p>發財丁大方美觀，屬25、27尺寸較大的柳丁，質量堅實、果肉飽滿，供果擺飾招來福氣。</p>
                <a href="buy.html" title="購物網址">立即購買 »</a>
            </div>
            <div class="grid-3">
                <img class="thumbnail" src="https://lh3.googleusercontent.com/-00C0I8DS52E/UKtFTfv-WoI/AAAAAAAALVc/-ovEThA0GPk/s576/orange4.jpg">
                <h2>精品級</h2>
                <p>果皮細薄光滑、採用香氣最濃、甜度最足、成熟度優等23級。50箱以上可客製賀年標籤貼紙。</p>
                <a href="buy.html" title="購物網址">立即購買 »</a>
            </div>
        </div>
        <hr class="soften" />
    </div>
    {% endif %}

    <div id="content">
        <div class="container">{{ content }}</div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="grid-5">
                    <h1 id="footer-logo">${{ site.title }}</h1>
                    <p>一群由雲科大教授帶領在校生及畢業校友所組成的團隊，透過e化產品履歷系統，希望推廣台灣優質農產品，協助辛苦的農民維持生計，提供民眾更安全有保障的台灣水果。</p>
                </div>
                <div class="grid-4">
                    <h3><span class="slash">//</span> 人才招募</h3>
                    <p>歡迎加入產品研發中心！</p>
                    <ul>
                        <li><a href="#">程式設計師</a></li>
                        <li><a href="#">網頁設計師</a></li>
                    </ul>
                </div>
                <div class="grid-3">
                    <h3><span class="slash">//</span> 聯絡方式</h3>
                    <p>歡迎來信 acloud@yuntech.edu.tw</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="copyright">
        <div class="row">
            <div id="rights" class="grid-6">
                &copy; {{ site.author.name }} 2012
            </div>

            <div id="totop" class="grid-6">
                with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a> and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
            </div>
        </div>
    </div>


  </div>
  
  <script src="{{ ASSET_PATH }}/js/jquery-1.7.2.min.js" type="text/javascript"></script>
  <!--<script src="https://raw.github.com/tuupola/jquery_lazyload/master/jquery.lazyload.min.js" type="text/javascript"></script>-->
  <script src="{{ ASSET_PATH }}/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{ ASSET_PATH }}/js/focus.js" type="text/javascript"></script>
  <script type="text/javascript">
  //Lazy loading for images
  (function() {
    //$("img.lazy").lazyload({
    //  skip_invisible : false
    //});
    setTimeout(function() {
      $('img.lazy').each(function() {
        $(this).prop('src', $(this).data('original'));
      });
    }, 1000);
  })();
  </script>

  <!--analytics-->
  {% include JB/analytics %}
  </body>
</html>
